<nav class="navbar">
  <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-item" title="Dashboard">
    <span class="material-icons">dashboard</span>
  </a>
  <a routerLink="/taches" routerLinkActive="active" class="nav-item" title="Gestion des tâches">
    <span class="material-icons">check_circle</span>
  </a>
  <a routerLink="/calendrier" routerLinkActive="active" class="nav-item" title="Calendrier">
    <span class="material-icons">calendar_month</span>
  </a>
  <a routerLink="/messagerie" routerLinkActive="active" class="nav-item" title="Messagerie">
    <span class="material-icons">chat</span>
  </a>
</nav>
